body {
  font-family: monospace;
  color: #000000;
  background-color: #e5e5e5;
}
header {
  height: 120px;
  width: 1890px;
  background-color: #818080;
  box-sizing: border-box;
  border: 2px solid #000000;
}

header img {
  margin-top: 8px;
  margin-left: 45px;
  float: left;
}
pre {
  text-align: left;
  padding-left: 210px;
}
ul {
  height: 330px;
  width: 175px;
  list-style-type: none;
  margin-top: 10px;
  padding: 0px;
  float: left;
}
li a {
  width: 165px;
  height: 25px;
  padding-top: 5px;
  padding-left: 11%;
  text-decoration: none;
  font-size: 125%;
  display: block;
  background-color: #000000;
  color: #ffffff;
  /*background-color: #000000;
      color: #33ff33;*/
}
li a:hover {
  background-color: #f57272;
  color: #000000;
  /*background-color: #33ff33;
      color: #000000;*/
}

#dashboard-icon {
  float: right;
  padding-right: 12px;
  padding-bottom: 10px;
}

h1 {
  font-family: monospace;
  padding: 5px;
  color: #ffffff;
  background-color: #818080;
  text-align: center;
  border: 1px solid #cccccc;
}

main {
  height: 787px;
  width: 1693px;
  margin-left: 195px;
  margin-top: 10px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  max-width: 1000px;
}
td {
  overflow: hidden;
  white-space: nowrap;
  width: 1000px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

#recent1 {
  margin-top: 75px;
  width: 50%;
}
#recentTable1 {
  margin-left: 10%;
}

#recent {
  margin-top: 75px;
  width: 50%;
}
#recentTable {
  margin-left: 10%;
}

#buttons {
  border: 4px solid #acacac;
  background: rgb(0, 0, 0);
  padding: 14px 28px;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  margin-left: 5%;
  color: rgb(197, 197, 197);
  text-decoration: none;
  position: sticky;
}
