<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="Auditing.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script></script>
  </head>
  <body>
    <header>
      <pre>
 ██████╗ ███╗   ███╗███╗   ██╗██╗███████╗ ██████╗██╗███████╗███╗   ██╗████████╗    ███████╗██╗██╗     ███████╗     █████╗ ███████╗███████╗██╗███████╗████████╗ █████╗ ███╗   ██╗████████╗
██╔═══██╗████╗ ████║████╗  ██║██║██╔════╝██╔════╝██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝██║██║     ██╔════╝    ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝
██║   ██║██╔████╔██║██╔██╗ ██║██║███████╗██║     ██║█████╗  ██╔██╗ ██║   ██║       █████╗  ██║██║     █████╗      ███████║███████╗███████╗██║███████╗   ██║   ███████║██╔██╗ ██║   ██║   
██║   ██║██║╚██╔╝██║██║╚██╗██║██║╚════██║██║     ██║██╔══╝  ██║╚██╗██║   ██║       ██╔══╝  ██║██║     ██╔══╝      ██╔══██║╚════██║╚════██║██║╚════██║   ██║   ██╔══██║██║╚██╗██║   ██║   
╚██████╔╝██║ ╚═╝ ██║██║ ╚████║██║███████║╚██████╗██║███████╗██║ ╚████║   ██║       ██║     ██║███████╗███████╗    ██║  ██║███████║███████║██║███████║   ██║   ██║  ██║██║ ╚████║   ██║   
 ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝ ╚═════╝╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   
 
		</pre
      >
    </header>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/Scanning">Scanning</a></li>
      <li><a href="/Patterns">Patterns</a></li>
      <li><a href="/Auditing">Auditing</a></li>
    </ul>
    <main>
      <h1>Audits: <span id="heading">Track the modification of files.</span></h1>
      <div id="LeftHalf">
        <section id="PatternList" class="OneHalf">
          <% for(var i=0; i < audit.length; i++) { %> <%= audit[i].id %>
            <a class="PatternLink" href="/Auditing/<%=audit[i].AuditID%>">
              <span class="LinkText">
                <%=audit[i].AuditName%>
              </span>
            </a>
          <% } %>
        </section>
      </div>
      <div id="RightHalf">
        <section id="OtherItems" class="OneHalf">
          <a class="OtherLink" href="/CreateNewAudit">
            <span class="LinkText">
              Create New Pattern
            </span>
          </a>
          <a class="OtherLink" href="/ModifyAudits">
            <span class="LinkText">
              Modify Current Pattern
            </span>
          </a>
          <a class="OtherLink" href="/DeleteAudits">
            <span class="LinkText">
              Delete Current Pattern
            </span>
          </a>
        </section>
      </div>
    </main>
  </body>
</html>
