<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="test2.css" />
  </head>
  <body>
    <header>
      <h1>Auditing</h1>
    </header>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/scanning">Scanning</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/auditing">Auditing</a></li>
    </ul>
    <main>
      <p><%= randomString %></p>
      <p>This is paragraph 1.</p>
      <p>This is paragraph 2.</p>
      <p>This is paragraph 3.</p>
      <p>This is paragraph 4.</p>
      <p>This is paragraph 5.</p>
      <p>This is paragraph 6.</p>
      <p>This is paragraph 7.</p>
      <p>This is paragraph 8.</p>
      <p>This is paragraph 9.</p>
    </main>
  </body>
</html>
