<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../CreateSchedule.css" />
  </head>
  <body>
    <header>
      <pre>
 ██████╗ ███╗   ███╗███╗   ██╗██╗███████╗ ██████╗██╗███████╗███╗   ██╗████████╗    ███████╗██╗██╗     ███████╗     █████╗ ███████╗███████╗██╗███████╗████████╗ █████╗ ███╗   ██╗████████╗
██╔═══██╗████╗ ████║████╗  ██║██║██╔════╝██╔════╝██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝██║██║     ██╔════╝    ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝
██║   ██║██╔████╔██║██╔██╗ ██║██║███████╗██║     ██║█████╗  ██╔██╗ ██║   ██║       █████╗  ██║██║     █████╗      ███████║███████╗███████╗██║███████╗   ██║   ███████║██╔██╗ ██║   ██║   
██║   ██║██║╚██╔╝██║██║╚██╗██║██║╚════██║██║     ██║██╔══╝  ██║╚██╗██║   ██║       ██╔══╝  ██║██║     ██╔══╝      ██╔══██║╚════██║╚════██║██║╚════██║   ██║   ██╔══██║██║╚██╗██║   ██║   
╚██████╔╝██║ ╚═╝ ██║██║ ╚████║██║███████║╚██████╗██║███████╗██║ ╚████║   ██║       ██║     ██║███████╗███████╗    ██║  ██║███████║███████║██║███████║   ██║   ██║  ██║██║ ╚████║   ██║   
 ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝ ╚═════╝╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   
 
		</pre
      >
    </header>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/Scanning">Scanning</a></li>
      <li><a href="/Patterns">Patterns</a></li>
      <li><a href="/Auditing">Auditing</a></li>
    </ul>
    <main>
      <div id="content">
        <h1>Create Schedule</h1>
        <section id="grids">
          <div id="config" class="quad">
            <form action="" method="POST">
              <div class="text">
                <label class="attr">Schedule Name</label><br />
                <input id="SchedName" type="text" name="SchedName" maxlength="20" pattern="^([a-zA-Z0-9_\-\.\/\\ ]{1,20})$" value="" />
              </div>
              <br />
              <div class="text">
                <label class="attr">Base Time</label><br />
                <input id="BaseTime" type="text" name="BaseTime" maxlength="4" pattern="^([0-9]{1,4})$" value="" />
              </div>
              <br />
              <div class="radio">
                <label class="attr">Interval </label>
                <hr />
                <% for(var i=0; i < ints.length; i++) { %> <%= ints[i].id %>
                <input id="InterID" class="interval" type="radio" name="InterID" value="<%=ints[i].InterID%>" />
                <label class="interval"><%=ints[i].InterName%> Minutes</label><br />
                <% } %>
              </div>
              <br />
              <div class="submit">
                <input id="submit" type="submit" value="Submit" />
                <input type="reset" />
              </div>
            </form>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>