<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="test2.css" />
  </head>
  <body>
    <header>
      <img
        src="complete-part-gray.png"
        alt="Omniscient File Assistant Logo"
        width="98"
        height="100"
      />
      <pre>
 ██████╗ ███╗   ███╗███╗   ██╗██╗███████╗ ██████╗██╗███████╗███╗   ██╗████████╗    ███████╗██╗██╗     ███████╗     █████╗ ███████╗███████╗██╗███████╗████████╗ █████╗ ███╗   ██╗████████╗
██╔═══██╗████╗ ████║████╗  ██║██║██╔════╝██╔════╝██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝██║██║     ██╔════╝    ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝
██║   ██║██╔████╔██║██╔██╗ ██║██║███████╗██║     ██║█████╗  ██╔██╗ ██║   ██║       █████╗  ██║██║     █████╗      ███████║███████╗███████╗██║███████╗   ██║   ███████║██╔██╗ ██║   ██║   
██║   ██║██║╚██╔╝██║██║╚██╗██║██║╚════██║██║     ██║██╔══╝  ██║╚██╗██║   ██║       ██╔══╝  ██║██║     ██╔══╝      ██╔══██║╚════██║╚════██║██║╚════██║   ██║   ██╔══██║██║╚██╗██║   ██║   
╚██████╔╝██║ ╚═╝ ██║██║ ╚████║██║███████║╚██████╗██║███████╗██║ ╚████║   ██║       ██║     ██║███████╗███████╗    ██║  ██║███████║███████║██║███████║   ██║   ██║  ██║██║ ╚████║   ██║   
 ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝ ╚═════╝╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   
 
		</pre
      >
    </header>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/scanning">Scanning</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/auditing">Auditing</a></li>
    </ul>
    <main>
      <table style="width: 45%">
        <tr>
          <th>File Name</th>
          <th>File Path</th>
          <th>File Extension</th>
          <th>Computer Name</th>
          <th>File Creator</th>
          <th>Date Created</th>
          <th>Date Modified</th>
          <th>File Size</th>
        </tr>
        <tr>
          <td>File01</td>
          <td>c:\</td>
          <td>.txt</td>
          <td>Computer01</td>
          <td>Jill</td>
          <td>01/01/1970</td>
          <td>01/01/2070</td>
          <td>1000 GB</td>
        </tr>
        <tr>
          <td>File02</td>
          <td>c:\</td>
          <td>.txt</td>
          <td>Computer02</td>
          <td>Jill</td>
          <td>01/01/1970</td>
          <td>01/01/2070</td>
          <td>10042 GB</td>
        </tr>
      </table>
      <p><%= randomString %></p>
    </main>
  </body>
</html>
