<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../DeletePattern.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <pre>
 ██████╗ ███╗   ███╗███╗   ██╗██╗███████╗ ██████╗██╗███████╗███╗   ██╗████████╗    ███████╗██╗██╗     ███████╗     █████╗ ███████╗███████╗██╗███████╗████████╗ █████╗ ███╗   ██╗████████╗
██╔═══██╗████╗ ████║████╗  ██║██║██╔════╝██╔════╝██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝██║██║     ██╔════╝    ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝
██║   ██║██╔████╔██║██╔██╗ ██║██║███████╗██║     ██║█████╗  ██╔██╗ ██║   ██║       █████╗  ██║██║     █████╗      ███████║███████╗███████╗██║███████╗   ██║   ███████║██╔██╗ ██║   ██║   
██║   ██║██║╚██╔╝██║██║╚██╗██║██║╚════██║██║     ██║██╔══╝  ██║╚██╗██║   ██║       ██╔══╝  ██║██║     ██╔══╝      ██╔══██║╚════██║╚════██║██║╚════██║   ██║   ██╔══██║██║╚██╗██║   ██║   
╚██████╔╝██║ ╚═╝ ██║██║ ╚████║██║███████║╚██████╗██║███████╗██║ ╚████║   ██║       ██║     ██║███████╗███████╗    ██║  ██║███████║███████║██║███████║   ██║   ██║  ██║██║ ╚████║   ██║   
 ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝ ╚═════╝╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   
 
		</pre
      >
    </header>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/Scanning">Scanning</a></li>
      <li><a href="/Patterns">Patterns</a></li>
      <li><a href="/Auditing">Auditing</a></li>
    </ul>
    <main>
      <div id="content">
        <h1>Delete Schedule</h1>
        <section id="grids">
          <div id="config" class="quad">
            <h3>Select a Pattern to Delete</h3>
            <form action="" method="POST">
              <% for(var i=0; i < patts.length; i++) { %> <%= patts[i].id %>
                <input id="CriteriaID" type="radio" name="CriteriaID" value="<%=patts[i].CriteriaID%>" />
                <label><%=patts[i].CriteriaName%></label><br/>
              <% } %>
              <br/>
              <input id="submit" type="submit" value="Submit" />
              <input type="reset" />
            </form>
          </div>
        </section>
        <br />
        <span id="ConfirmString"><%=ConfirmString%></span>
      </div>
      <script>
        $(document).ready(function(){
          window.onload=function(){
            if(document.getElementById("ConfirmString").innerHTML == "SUCCESS: Pattern Deleted"){
              document.getElementById("ConfirmString").setAttribute("style", "font-weight:bold; color:green");
            }else{
              document.getElementById("ConfirmString").setAttribute("style", "font-weight:bold; color:red");
            }
          }
        });
      </script>
    </main>
  </body>
</html>